.services {
	padding-top: 8rem;
}
.services-wrapper {
	margin-top: 5rem !important;
	flex-wrap: wrap;
}
.service-wrapper {
	background: var(--main-color);
	color: #fff;
	box-shadow: 0 0 50px var(--shadow-color);
	text-align: center;
	margin: 1.5rem;
	padding: 8rem 4rem;
	position: relative;
    z-index: 2;

}

.service-icon {
	width: 7rem;
	height: 7rem;
}
.service-title {
	font-family: "Poppins Bold";
	font-size: 2.4rem;
	margin: 1.6rem 0 1rem 0;
}

.service-shape {
    position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0.1;
    z-index: -1;
}
