.services {
	padding-top: 7rem;
}
/* .services-container {
    padding: 0 -1rem !important;
} */
.services-wrapper {
	margin-top: 3rem;
    flex-wrap: wrap;
}
.service-wrapper {
	background: var(--main-color);
	margin: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 6rem 8rem;
}

.service-icon-wrapper {
}

.service-icon {
	/* background: url(); */
	width: 7rem;
	height: 7rem;

}
.service-title {
    font-family: "Poppins SemiBold";
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
}
.service-description {
    text-align: center;
}
.service-shape {
}
