@import "normalize.css";
@import "grid.css";
@import "fonts.css";
@import "responsive.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--main-color: #1a4f94;
	--text-color: #333333;
	--shadow-color: rgba(19, 94, 175, 0.3);
	--app-bg-color: #fff;
	--section-bg-color: #fff;
}

html {
	font-size: 10px; /* 1rem == 10 px*/
}

a {
	text-decoration: none;
	color: var(--text-color);

}

/* helper class */
.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.skew-reset {
	transform: skewY(5deg);
}

.h-full {
	height: 100%;
}

/* /////////////////////////// */

body {
	font-family: "Poppins";
	font-size: 1.6rem; /* 16px */
	line-height: 1.5;
	color: var(--text-color);
	background: var(--app-bg-color);
}

.app-btn {
	font-size: 2.5rem;
	padding: 1rem 3.5rem;
	outline: none;
	border: 1px solid var(--main-color);
	cursor: pointer;
	font-family: "Poppins SemiBold";
	box-shadow: 0 0 3rem var(--shadow-color);

	/* box-shadow: 0 0 50px var(--shadow-color); */
}

.btn_blue {
	color: #fff;
	background: var(--main-color);
}
.btn_white {
	color: var(--main-color);
	background: #f0f0f0;
}
.btn_blue:hover {
	background: #113563;
}
.btn_white:hover {
	background: #c5c5c5;
}

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 8rem;
	margin-bottom: 5rem;

}
.section-title {
	font-size: 4.5rem;
	font-family: "Poppins Bold";
	color: var(--main-color);
}
.section-title_sub {
	letter-spacing: 0.5rem;
	margin: 1rem 0 2rem 0;
	color: var(--text-color);
}
.section-line,
.section-line::before,
.section-line::after {
	background: var(--main-color);
}
.section-line {
	height: 1rem;
	width: 4rem;
	border-radius: 5rem;
	position: relative;
	/* z-index: -1; */
}
.section-line::before,
.section-line::after {
	content: "";
	height: 0.2rem;
	width: 8rem;
	position: absolute;
	top: 50%;
	bottom: 50%;
}

.section-line::before {
	right: 3rem;
}

.section-line::after {
	left: 3rem;
}
