@media screen and (min-width: 1400px) {
	.container {
		width: 1300px;
	}
}
@media screen and (max-width: 1400px) {
	.home-avatar {
		width: 45rem;
		height: 45rem;
	}
	.home {
		height: 85rem;
	}
	.about-btns button {
		padding: 1rem 2rem;
	}
	.service-wrapper {
		padding: 3rem 5rem;
	}
}
@media screen and (max-width: 1200px) {
	.header_list li {
		padding: 0.5rem;
	}
	.home-avatar {
		width: 35rem;
		height: 35rem;
	}
	.home-title {
		font-size: 5rem;
	}
	.home-welcome {
		font-family: "Poppins SemiBold";
		font-size: 2rem;
	}

	.home-btns button {
		font-size: 2rem;
		padding: 1rem 3rem;
	}
	.home {
		height: 75rem;
	}
	.about-btns button {
		font-size: 2rem;
		padding: 1rem 2rem;
	}
	.service-wrapper {
		padding: 8rem 3rem;
	}
}
@media screen and (max-width: 992px) {
	.header_title {
		font-size: 3rem;
	}
	.home-contents {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.home-avatar {
		margin: 0 auto 5rem auto;
	}

	.home .row {
		flex-direction: column-reverse;
	}
	.home {
		padding-top: 5rem;
		height: 100rem;
	}
	.home-avatar {
		border: 2rem solid var(--section-bg-color);
	}
	.about-btns button {
		font-size: 2rem;
		padding: 1rem 7rem;
	}
	.about-main {
		flex-direction: column;
	}

	.about-content,
	.about-img {
		flex-basis: auto;
	}
	.service-wrapper {
		padding: 8rem 2rem;
	}
}
@media screen and (max-width: 768px) {
	.nav-icon-toggle {
		display: flex;
	}
	.header_list {
		width: 100%;
		display: flex;
		background: var(--section-bg-color);
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		transition: all 200ms ease-in-out;
		height: 0;
		overflow: hidden;
	}
	.header_list--open {
		height: 100vh;
	}
	.header_list li {
		padding: 1rem 1.5rem;
	}

	.about-btns button {
		font-size: 2rem;
		padding: 1rem 3rem;
	}
	.about-btns {
		flex-direction: column;
		gap: 2rem;
	}
	.about-img {
		flex-basis: 20%;
	}
}
@media screen and (max-width: 576px) {
	.home-btns {
		flex-direction: column;
		gap: 2rem;
	}
	.app-btn {
		font-size: 2rem !important;
		padding: 1rem 3.5rem !important;
	}
	.home-avatar {
		border: 1.5rem solid var(--section-bg-color);
	}
}
@media screen and (max-width: 460px) {
	.home-welcome {
		font-size: 1.8rem;
	}
	.home-title {
		font-size: 4rem;
	}
	.home-skills {
		font-size: 1.5rem;
	}
}
