.footer {
	/* margin-top: 5rem; */
    padding: 2rem 0;
    background: var(--app-bg-color);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-text {
    letter-spacing: .4rem;
    font-family: "Poppins SemiBold";
    text-align:  center;

}
.footer-text span {
    color: var(--main-color);

}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-icon {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon svg {
    width: 3rem;
    height: 3rem;
}
.footer-icon svg path {
    fill: var(--app-bg-color);
}
.change-theme {
    cursor: pointer;
}
